<app-navbar></app-navbar>

<table class="table table-bordered border-success">
        <thead>
          <tr>
            <th scope="col">Emp Code</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Phone/th>
            <th scope="col">Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of data">
            <th scope="row">1</th>
            <td>{{i.name}}</td>
            <td>{{i.Designation}}</td>
            <td>{{i.Phone}}</td>
             <td>{{i.Salary}}</td>
          </tr>
         
        </tbody>
  </table>
