<app-navbar></app-navbar>
<table class="table table-bordered border-success">
        <thead>
          <tr>
            <th scope="col">Emp Code</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Anju</td>
            <td>Software Engineer</td>
            <td>225200</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Sherin</td>
            <td>Software Engineer</td>
            <td>225200</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Megha</td>
            <td>Software Engineer</td>
            <td>35235</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>jhon</td>
            <td>Software Engineer</td>
            <td>23540</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Amritha</td>
            <td>Software Engineer</td>
            <td>22445</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Manu</td>
            <td>Software Engineer</td>
            <td>243535</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Manjima</td>
            <td>Software Engineer</td>
            <td>245426</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Anoop</td>
            <td>Software Engineer</td>
            <td>252000</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Sangeeth</td>
            <td>Software Engineer</td>
            <td>24530</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Arjun</td>
            <td>Software Engineer</td>
            <td>342626</td>
          </tr>
        </tbody>
  </table>
